<div class="well">
<%= render '/shared/errors', error: @user %>
<%= form_for @user do |f| %>
<div class='control-group'>
<%= f.label :username %>
<%= f.text_field :username %>
</div>
<div class='control-group'>
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<% if @user.new_record? %>
<div class='control-group'>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<% end %>
<div class='control-group'>
  <%= f.label :email %>
  <%= f.text_field :email %>
<%= f.submit "Go!", class: "btn btn-primary" %>
<% end %>
</div>